    body {
        padding: 0;
        margin: 0;
        background: linear-gradient(to right, white, blue);
        text-align: center;
    }
    
    .heading {
        font-family: Helvetica;
        color: black;
        text-align: center;
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: white;
    }
    
    nav {
        width: 100%;
        min-height: 100%;
        background-color: #21222C;
    }
    
    ul {
        list-style: none;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 35px;
        font-family: Arial;
        color: #82e9fd;
        padding: 0 20px;
    }